node_modules/
**/node_modules/
dist/
build/
.next/
**/dist/
**/build/
**/.next/
out/
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local
!.env.example
!**/.env.example
logs/
*.log
npm-debug.log*
.turbo/
**/prisma/migrations/dev.db
.DS_Store
Thumbs.db
.vscode/
.idea/
